
<form method="post" action="/transactions/<%=@transaction.id%>">


<label for="merchant"> Select a Merchant:</label>
<select id="merchant" name="merchant_id">
  <% for merchant in @merchants %>
  <option value= <%=merchant.id%>> <%= merchant.name%> </option>
  <%end%>
</select>
  <label for="tag"> Select a Tag:</label>
  <select id="tag" name="tag_id">
    <% for tag in @tags %>
    <option value=<%= tag.id %>> <%= tag.type%> </option>
    <%end%>
</select>
<label for="amount"> Amount: </label>
<input id="amount" type="number" value="<%= @transaction.amount %>" name="amount"/>
<input type="submit" value="Submit Changes"/>
</form>
