
<h1>Transactions</h1>
<p><a href="/transactions/new">Add New Transaction</a></p>

<% for transaction in @transactions%>
<p>Transaction ID: <%= transaction.id %> </p>
<p>Merchant: <%= transaction.merchant.name %> </p>
<p>Tag: <%= transaction.tag.type %> </p>
<p>Amount: <%= transaction.amount %> </p>
<%end%>


<p>Total: <%=@total %></p>
